<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
<<<<<<< HEAD
      <% @wtask.errors.full_messages.each do |msg| %>
=======
      <% @task.errors.full_messages.each do |msg| %>
>>>>>>> a72203f6334ec91d16b19f5388c76b63195e8698
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
<<<<<<< HEAD
  <div class="field">
    <%= f.label :task %><br />
    <%= f.text_area :task %>
  </div>
  <div class="field">
    <%= f.label :done %><br />
    <%= f.check_box :done %>
  </div>
=======
>>>>>>> a72203f6334ec91d16b19f5388c76b63195e8698
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
