<<<<<<< HEAD
<center>Task of <%= @name %></center>
<table border = "1">
  <tr>
     <td> TASK </td>
     <td> DONE </td>
 </tr>
  <% @worker_tasks.each do |task| %>
  <tr>
    <td><%= task.task %></td>
    <td><%= task.done %></td>
  </tr>
  <% end %>
</table>
=======
<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
>>>>>>> a72203f6334ec91d16b19f5388c76b63195e8698
